---
import Container from "../Container.astro";
---

<Container />
<section id="inmersion">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>INMERSION</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
					malesuada, nunc nec vehicula fermentum, nunc sapien
					ultricies sapien, nec ultricies nunc sapien nec sapien.
					Nullam nec fermentum nunc. Nullam nec fermentum nunc. Nullam
					nec fermentum nunc. Nullam nec fermentum nunc. Nullam nec
					fermentum nunc.
				</p>
			</div>
		</div>
	</div>
</section>
<Container />
