---
import Layout from "../../layouts/Layout.astro";
---

<section
	id="whyAsutralCash"
	class="text-white relative border border-gray-600 flex items-center justify-center">
	<article class="max-w-screen-2xl w-full flex justify-start items-center">
		<div class="max-w-[75ch] text-balance">
			<h1 class="text-3xl text-start md:text-6xl font-black pb-5">
				Nosotros
			</h1>
			<p
				class="text-start text-base md:text-xl font-normal md:font-semibold md:text-white">
				Ofrecemos a nuestros clientes una experiencia excepcional al
				cambiar PESOS, USD, USDT o realizar Pagos Internacionales 🌏
				Nuestro compromiso es brindar un servicio rápido, seguro y
				confiable, respaldado por las mejores tasas de cambio
				disponibles en el mercado, nos esforzamos en optimizar y brindar
				la mejor experiencia en cada transacción financiera. En
				Australcash, valoramos la confianza y la transparencia en todas
				nuestras operaciones.
			</p>
			<p
				class="text-start text-base md:text-xl font-normal md:font-semibold md:text-white pt-10">
				Únase en nuestro compromiso de transformar la forma en que se
				realizan intercambios de divisas y pagos internacionales.
				Estamos aquí para ayudarlo a alcanzar sus objetivos de forma
				ágil y segura 🔐
			</p>
		</div>
	</article>
</section>

<style>
	section {
		background-image: url("../../img/is-the-blockchain-technology-bringing-around-a-real-disruption.jpg");
		background-size: cover;
		background-position: end;
		background-repeat: no-repeat;
		min-height: 75vh;
		background-color: black;
	}

	@media (width < 700px) {
		article {
			min-height: 50vh;
			padding-inline: 1rem;
		}
		section {
			background-image: none;
		}
	}
</style>
