---
import Layout from "../../layouts/Layout.astro";
import { BlurVideo } from "../BlurVideo/BlurVideo.jsx";
import Container from "../Container.astro";
---

<Layout title="Por qué Astral Cash?">
	<Container>
		<article
			class="text-white mb-20 relative flex items-center justify-end border border-gray-600"
			id="whyAsutralCash">
			<!-- <div
				class="-z-10 absolute h-full w-full bg-[radial-gradient(#303030_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_10%,transparent_100%)]">
			</div> -->
			<div class="flex flex-col justify-center items-center px-10">
				<h1 class="text-3xl text-center md:text-5xl py-5 font-black">
					¿Por qué Austral Cash?
				</h1>
				<p class="text-center text-base md:text-2xl max-w-[45ch] text-black md:text-white">
					En Austral Cash, nos esforzamos por ofrecer a nuestros
					clientes la mejor experiencia de cambio de divisas. Nuestro
					objetivo es proporcionar un servicio rápido, seguro y
					confiable, con las mejores tasas de cambio disponibles en el
					mercado.
				</p>

				<!-- <BlurVideo client:visible /> -->
			</div>
		</article>
	</Container>
</Layout>

<style>
	article {
		background-image: url(../../img/austral_background.jpg);
		background-size: cover;
		border-radius: 0.75rem;
		min-height: 85vh;
	}
	@media (width < 700px) {
		article {
			min-height: 50vh;
		}
	}
</style>
