---
import Layout from "../../layouts/Layout.astro";
---

<section
	id="whyAsutralCash"
	class="text-white mb-20 relative border border-gray-600 flex items-center justify-center">
	<article class="max-w-screen-2xl w-full flex justify-end items-center">
		<div class="max-w-[75ch] text-balance">
			<h1 class="text-3xl text-center md:text-5xl font-black pb-5">
				¿Por qué Austral Cash?
			</h1>
			<p
				class="text-center text-xl md:text-2xl font-semibold md:text-white">
				En Austral Cash, nos esforzamos por ofrecer a nuestros clientes
				la mejor experiencia de cambio de divisas. Nuestro objetivo es
				proporcionar un servicio rápido, seguro y confiable, con las
				mejores tasas de cambio disponibles en el mercado.
			</p>
		</div>
	</article>
</section>

<style>
	section {
		background-image: url(../../img/austral_background.jpg);
		background-size: cover;
		min-height: 85vh;
	}
	@media (width < 700px) {
		article {
			min-height: 50vh;
		}
	}
</style>
