<div class="text-white h-full">
	<h1 class="text-5xl md:text-8xl font-black">Austral Cash</h1>
	<h2 class="text-2xl py-5 font-semibold">
		Te ayudamos a cambiar #DineroDigital <br /> de forma simple, segura 100%
		online.
	</h2>
	<h3 class="text-base pb-5">
		Paypal, Payoneer, Wise, Skrill #USDT #CRYPTO, Pagos Internacionales o
		Realizamos cambio.
	</h3>
	<aside class="flex flex-col gap-2">
		<div class="flex gap-2">
			<div
				class="w-6 h-6 flex gap-8 items-center rounded-full bg-gradient-to-r from-[#1d1d1f] to-[#3a3b3f] 0 -z-1">
				<p class="m-auto">1</p>
			</div>
			<code class="text-sm md:text-base">Cotizas y haces tu pedido. </code>
		</div>

		<div class="flex gap-2">
			<div
				class="w-6 h-6 flex gap-8 items-center rounded-full bg-gradient-to-r from-[#1d1d1f] to-[#3a3b3f] 0 -z-1">
				<p class="m-auto">2</p>
			</div>
			<code class="text-sm md:text-base">Recibes las instrucciones para hacer tu envío.</code>
		</div>

		<div class="flex gap-2">
			<div
				class="w-6 h-6 flex gap-8 items-center rounded-full bg-gradient-to-r from-[#1d1d1f] to-[#3a3b3f] 0 -z-1">
				<p class="m-auto">3</p>
			</div>
			<code class="text-sm md:text-base">Te enviamos el saldo cotizado. </code>
		</div>
	</aside>
</div>

<style>
	h1 {
		background: linear-gradient(0deg, #514fff, #ecf0ff);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
